@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 5px;
  }
  .bebas-title {
    font-family:"Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 2px;
  }